/* * {
    border: 1px solid red;
} */

body {
    background-color: #EDF6F9;
}

#container {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 20px;
    border-radius: 8px;
    background-color: #FFDDD2;
}

#screen {
    min-height: 50px;
    background-color: #E29578;
    border-radius: 8px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace,'Courier New', Courier ;
    font-size: large;
    font-weight: 700;
    text-shadow:1px 2px 4px #5f2e1d;
}

.buttons {
    display: flex;
    height: 50px;
    gap: 2px;
}

button {
    flex: 1;
    border-radius:6px;
    border:1px solid #006D77;
    /* display:inline-block; */
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    font-weight: 700;
    /* padding:16px 31px; */
    text-decoration:none;
    background-color:#006D77;
    text-shadow:0px 1px 0px #1e534e;
}

button:hover {
    background-color:#83C5BE;
}
button:active {
    position:relative;
    top:1px;
}

.operator {
    border:1px solid #637074;
    background-color: #637074;
}

.selected {
    background-color: #222627;
}

#num0 {
    flex-basis: 32%;
}

